*.*.swp
Planner
Test
test-*
test_*
*.*~
*.cfg
*.ini
.#*
.test
*/*.test
grub2/grub2
themes/themes
network/network
accounts/accounts
audio/audio
datetime/datetime
deepin-daemon/deepin-daemon
desktop-toggle/desktop-toggle
display/display
dock-apps-builder/dock-apps-builder
dock-daemon/dock-daemon
inputdevices/inputdevices
keybinding/keybinding
launcher/launcher
mime/mime
mounts/mounts
power/power
system-info/system-info
zone-settings/zone-settings
bluetooth/bluetooth
