*.*.swp
Planner
Test
test-*
test_*
_*
*.*~
.#*
.test
*/*.test
grub2/grub2
grub2/testdata/grub2.json
grub2/testdata/tmp_settings
grub2/testdata/tmp_theme_dir/
themes/themes
network/network
network/dev_test.go
accounts/accounts
audio/audio
datetime/datetime
deepin-daemon/deepin-daemon
desktop-toggle/desktop-toggle
display/display
dock-apps-builder/dock-apps-builder
dock-daemon/dock-daemon
inputdevices/inputdevices
keybinding/keybinding
launcher-daemon/launcher-daemon
mime/mime
mounts/mounts
power/power
system-info/system-info
zone-settings/zone-settings
bluetooth/bluetooth
main_network.go
bin/dde-session-daemon/dde-session-daemon
bin/dde-preload/dde-preload
!launcher/testdata/.config/launcher/*

debian
debian/
out/
gopath/
