[D-BUS Service]
Name=com.deepin.daemon.Accounts
Exec=/usr/lib/deepin-daemon/dde-system-daemon
User=root
SystemdService=deepin-accounts-daemon.service
