Source: dde-dock
Section: x11
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>= 8.0.0),
 pkg-config,
 qt5-qmake,
 libxcb-image0-dev,
 libxcb-composite0-dev,
 libxcb-ewmh-dev,
 libqt5x11extras5-dev,
 libxcb-damage0-dev,
 libqt5svg5-dev,
 libxcb-icccm4-dev,
 libxtst-dev,
 libdtkwidget-dev,
 libdtkcore-dev,
 libdtkcore5-bin,
 qttools5-dev-tools,
 libxcb-icccm4-dev,
 qtbase5-private-dev,
 libdframeworkdbus-dev,
 libgsettings-qt-dev,
 cmake,
 libdde-network-utils-dev,
 libdbusmenu-qt5-dev,
 clang [mips64el],
 libdtkgui-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org/

Package: dde-dock
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: dde-disk-mount-plugin, dde-dock-onboard-plugin
Conflicts:
 dde-workspace (<< 2.90.5),
 dde-dock-applets,
 dde-trash-plugin
Replaces:
 dde-dock-applets,
 dde-trash-plugin
Description: deepin desktop-environment - dock module
 Deepin desktop environment - dock module.

Package: dde-dock-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: deepin desktop-environment - dock module development files
 Deepin desktop environment - dock module development files.

Package: dde-dock-onboard-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, onboard
Description: deepin desktop-environment - dock plugin
 Deepin desktop environment - dock plugin for onboard
