#!/usr/bin/make -f
# -*- makefile -*-
export QT_SELECT=5

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
		-DDOCK_TRAY_USE_NATIVE_POPUP=YES

