[Desktop Entry]
Type = Application
Exec = /usr/lib/deepin-daemon/keybinding
Terminal=false
Hidden=false
Name = keybinding
Comment = keybinding daemon
X-GNOME-Autostart-enabled = true
