[Desktop Entry]
Type = Application
Exec = /usr/lib/deepin-daemon/binding-manager
Terminal=false
Hidden = false
Name = keybinding
Comment = keybind daemon
X-GNOME-Autostart-enabled = true
