[Desktop Entry]
Type = Application
Exec = /usr/lib/deepin-daemon/individuate
Name = individuate
Comment = individuate daemon
X-GNOME-Autostart-enabled = true
