[Desktop Entry]
Categories=Application;System;Settings
Comment=A general Linux software manager
Comment[zh_CN]=Linux 通用软件管理器
Comment[zh_TW]=Linux 的通用軟體管理器
Encoding=UTF-8
Exec=deepin-software-center %f
Icon=deepin-software-center
Name=Deepin Store
Name[zh_CN]=深度商店
Name[zh_TW]=深度商店
StartupNotify=false
Terminal=false
Type=Application
X-Ayatana-Desktop-Shortcuts=ShowUpgrade;ShowUninstall
X-MultipleArgs=false

[ShowUninstall Shortcut Group]
Exec=/usr/bin/deepin-software-center --page=uninstall
Name=Open Uninstall Page
Name[ar]=فتح صفحة إلغاء التثبيت
Name[cs]=Otevřít stránku pro odinstalování
Name[da]=Åbn afinstalleringssiden
Name[en]=Open Uninstall Page
Name[es]=Abrir Pagina Desinstalada
Name[fr]=Ouvre la page des désinstallations 
Name[pt_BR]=Abrir Página de Desinstação
Name[ru]=Открыть страницу удаления
Name[sk]=Otvoriť stránku pre odinštaláciu
Name[sl]=Odpri stran za odstranjevanje programske opreme
Name[zh_CN]=打开卸载页面
Name[zh_TW]=打開解除安裝頁面
TargetEnvironment=Unity

[ShowUpgrade Shortcut Group]
Exec=/usr/bin/deepin-software-center --page=upgrade
Name=Open Upgrade Page
Name[ar]=فتح صفحة الترقية
Name[cs]=Otevřít stránku pro povyšování
Name[da]=Åbn opgraderingssiden
Name[en]=Open Upgrade Page
Name[es]=Abrir Pagina Actualizada
Name[fr]=Ouvre la page des mises à jour
Name[pt_BR]=Abrir Página de Atualização
Name[ru]=Открыть страницу обновления
Name[sk]=Otvoriť stránku pre povýšenie
Name[sl]=Odpri stran za posodobitev programske opreme
Name[zh_CN]=打开更新页面
Name[zh_TW]=打開升級頁面
TargetEnvironment=Unity

