<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor/>
  <vendor_url/>

  <action id="com.deepin.daemon.accounts.change-own-user-data">
    <description>Change your own user data</description>
    <description xml:lang="ca">Canvieu les dades d'usuari pròpies</description>
    <description xml:lang="cs">Změnit své vlastní údaje</description>
    <description xml:lang="de">Ändern Ihrer eigenen Benutzerdaten</description>
    <description xml:lang="el">Αλλάξτε τα δεδομένα χρήστη σας</description>
    <description xml:lang="en_GB">Change your own user data</description>
    <description xml:lang="eo">Ŝanĝi viajn proprajn uzantodatumojn</description>
    <description xml:lang="es">Cambie sus propios datos de usuario</description>
    <description xml:lang="fi">Muuta omia käyttäjätietojasi</description>
    <description xml:lang="fr">Modifier ses propres données</description>
    <description xml:lang="gl">Cambiar os seus propios datos de usuario</description>
    <description xml:lang="hu">Saját felhasználói adatainak módosítása</description>
    <description xml:lang="id">Ubah data penggunamu sendiri</description>
    <description xml:lang="it">Cambia i propri dati utente</description>
    <description xml:lang="ja">自身のユーザーデータを変更する</description>
    <description xml:lang="ka">თქვენი პირადი ინფორმაციის შეცვლა</description>
    <description xml:lang="ko">개인 소유 사용자 데이터 </description>
    <description xml:lang="lv">Mainīt pašam savus lietotāja datus</description>
    <description xml:lang="nl">Bewerk uw eigen gebruikersgegevens</description>
    <description xml:lang="pa">ਆਪਣਾ ਯੂਜ਼ਰ ਡਾਟਾ ਬਦਲੋ</description>
    <description xml:lang="pl">Zmiana własnych danych</description>
    <description xml:lang="pt_BR">Alterar dados do próprio usuário</description>
    <description xml:lang="ru">Изменить личные пользовательские данные</description>
    <description xml:lang="sk">Zmeniť svoje vlastné používateľské údaje</description>
    <description xml:lang="sl">Spremenite lastne uporabniške podatke</description>
    <description xml:lang="sv">Ändra ditt egna användardata</description>
    <description xml:lang="tr">Kullanıcı bilgilerinizi değiştirin</description>
    <description xml:lang="uk">Зміна даних вашого користувача</description>
    <description xml:lang="vi">Thay đổi dữ liệu người dùng của chính mình</description>
    <description xml:lang="zh_CN">修改您的用户数据</description>
    <description xml:lang="zh_TW">變更您自身的使用者資料</description>
    <message>Authentication is required to change your own user data</message>
    <message xml:lang="ca">Cal autenticació per canviar les dades d'usuari pròpies</message>
    <message xml:lang="cs">Pro změnu svých vlastních údajů je vyžadována autentizace</message>
    <message xml:lang="de">Zur Änderung Ihrer eigenen Benutzerdaten ist eine Legitimierung erforderlich</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για αλλαγή των δικών σας δεδομένων χρήστη</message>
    <message xml:lang="en_GB">Authentication is required to change your own user data</message>
    <message xml:lang="eo">Aŭtentigo bezonatas por ŝanĝi viajn proprajn uzantodatumojn</message>
    <message xml:lang="es">Para cambiar sus datos de usuario debe autenticarse</message>
    <message xml:lang="fi">Omien käyttäjätietojen muuttaminen vaatii tunnistautumisen</message>
    <message xml:lang="fr">Vous devez vous authentifier pour modifier vos propres données utilisateur</message>
    <message xml:lang="gl">Requirse autenticación para cambiar os seus propios datos de usuario</message>
    <message xml:lang="hu">Hitelesítés szükséges a saját felhasználói adatai módosításához</message>
    <message xml:lang="id">Otentikasi diperlukan untuk mengubah data pengguna milikmu</message>
    <message xml:lang="it">È necessario autenticarsi per cambiare i propri dati utente</message>
    <message xml:lang="ja">自分自身のユーザーデータを変更するには認証が必要です</message>
    <message xml:lang="ka">თქვენი პირადი მონაცემების შესაცვლელად აუცილებელია ავთენტიფიკაციის გავლა.</message>
    <message xml:lang="ko">여러분 의 사용자 데이터를 변경하려면 인증이 필요합니다</message>
    <message xml:lang="lv">Nepieciešama autentifikācija, lai mainītu pats savus lietotāja datus</message>
    <message xml:lang="nl">Authenticatie vereist om uw eigen gebruikersgegevens te kunnen veranderen</message>
    <message xml:lang="pa">ਤੁਹਾਡਾ ਯੂਜ਼ਰ ਡਾਟਾ ਬਦਲਣ ਲਈ ਪਰਮਾਣਿਤ ਹੋਣ ਦੀ ਲੋੜ ਹੈ</message>
    <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby zmienić własne dane</message>
    <message xml:lang="pt_BR">Autenticação é necessária para alterar dados do próprio usuário</message>
    <message xml:lang="ru">Для изменения личных пользовательских данных требуется аутентификация</message>
    <message xml:lang="sk">Na zmenu vlastných používateľských údajov je potrebné overenie totožnosti</message>
    <message xml:lang="sl">Za spremembo lastnih podatkov je zahtevana overitev</message>
    <message xml:lang="sv">Autentisering krävs för att ändra ditt egna användardata</message>
    <message xml:lang="tr">Kendi kullanıcı bilginizi değiştirmek için kimlik kanıtlaması gereklidir</message>
    <message xml:lang="uk">Для зміни даних вашого користувача потрібно пройти розпізнавання</message>
    <message xml:lang="vi">Cần xác thực để thay đổi dữ liệu người dùng của chính mình</message>
    <message xml:lang="zh_CN">修改您的用户数据：需要授权</message>
    <message xml:lang="zh_TW">若要變更您自身的使用者資料需要通過認證</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>

  <action id="com.deepin.daemon.accounts.user-administration">
    <description>Manage user accounts</description>
    <description xml:lang="ca">Gestioneu els comptes d'usuari</description>
    <description xml:lang="cs">Spravovat uživatelské účty</description>
    <description xml:lang="de">Benutzerkonten verwalten</description>
    <description xml:lang="el">Διαχείριση λογαριασμών χρηστών</description>
    <description xml:lang="en_GB">Manage user accounts</description>
    <description xml:lang="eo">Administri uzantokontojn</description>
    <description xml:lang="es">Gestione cuentas de usuario</description>
    <description xml:lang="fi">Hallitse käyttäjätilejä</description>
    <description xml:lang="fr">Gérer les comptes des utilisateurs</description>
    <description xml:lang="gl">Xestionar contas de usuario</description>
    <description xml:lang="hu">Felhasználói fiókok kezelése</description>
    <description xml:lang="id">Kelola akun pengguna</description>
    <description xml:lang="it">Gestisci gli account utente</description>
    <description xml:lang="ja">ユーザーアカウントを管理する</description>
    <description xml:lang="ka">მოხმარებლების ანგარიშების მართვა</description>
    <description xml:lang="ko">사용자 계정 </description>
    <description xml:lang="lv">Pārvaldīt lietotāju kontus</description>
    <description xml:lang="nl">Beheer gebruikersaccounts</description>
    <description xml:lang="pa">ਯੂਜ਼ਰ ਅਕਾਊਂਟ ਪਰਬੰਧ</description>
    <description xml:lang="pl">Zarządzanie kontami użytkowników</description>
    <description xml:lang="pt_BR">Gerenciar contas de usuários</description>
    <description xml:lang="ru">Управление учётными записями пользователей</description>
    <description xml:lang="sk">Spravovať používateľské účty</description>
    <description xml:lang="sl">Upravljaj račune uporabnikov</description>
    <description xml:lang="sv">Hantera användarkonton</description>
    <description xml:lang="tr">Kullanıcı hesaplarını yönet</description>
    <description xml:lang="uk">Керування обліковими записами</description>
    <description xml:lang="vi">Quản lý tài khoản người dùng</description>
    <description xml:lang="zh_CN">管理用户账户</description>
    <description xml:lang="zh_TW">管理使用者帳戶</description>
    <message>Authentication is required to change user data</message>
    <message xml:lang="ca">Cal autenticació per canviar les dades d'usuari</message>
    <message xml:lang="cs">Pro změnu údajů o uživateli je vyžadována autentizace</message>
    <message xml:lang="de">Zur Änderung von Benutzerdaten ist eine Legitimierung erforderlich</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για αλλαγή των δεδομένων χρήστη</message>
    <message xml:lang="en_GB">Authentication is required to change user data</message>
    <message xml:lang="eo">Aŭtentigo bezonatas por ŝanĝi uzantodatumojn</message>
    <message xml:lang="es">Para cambiar datos de usuario debe autenticarse</message>
    <message xml:lang="fi">Käyttäjätietojen muuttaminen vaatii tunnistautumisen</message>
    <message xml:lang="fr">Il est nécessaire de s'authentifier pour modifier des données utilisateur</message>
    <message xml:lang="gl">Requirse autenticación para cambiar os datos do usuario</message>
    <message xml:lang="hu">Hitelesítés szükséges a felhasználói adatok módosításához</message>
    <message xml:lang="id">Otentikasi diperlukan untuk mengubah data pengguna</message>
    <message xml:lang="it">È necessario autenticarsi per cambiare i dati utente</message>
    <message xml:lang="ja">ユーザーのデータを変更するには認証が必要です</message>
    <message xml:lang="ka">მოხმარებლის მონაცემების შესაცვლელად აუცილებელია ავთენტიფიკაციის გავლა.</message>
    <message xml:lang="ko">사용자 데이터를 변경하려면 인증이 </message>
    <message xml:lang="lv">Nepieciešama autentifikācija, lai mainītu lietotāja datus</message>
    <message xml:lang="nl">Authenticatie vereist om gebruikersgegevens te kunnen veranderen</message>
    <message xml:lang="pa">ਯੂਜ਼ਰ ਡਾਟਾ ਬਦਲਣ ਲਈ ਪਰਮਾਣਿਤ ਹੋਣ ਦੀ ਲੋੜ ਹੈ</message>
    <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby zmienić dane użytkownika</message>
    <message xml:lang="pt_BR">Autenticação é necessária para alteração de dados de usuário</message>
    <message xml:lang="ru">Для изменения пользовательских данных требуется аутентификация</message>
    <message xml:lang="sk">Na zmenu používateľských údajov je potrebné overenie totožnosti</message>
    <message xml:lang="sl">Za spremembo podatkov uporabnikov je zahtevana overitev</message>
    <message xml:lang="sv">Autentisering krävs för att ändra användardata</message>
    <message xml:lang="tr">Kullanıcı bilgisini değiştirmek için kimlik kanıtlaması gereklidir</message>
    <message xml:lang="uk">Для зміни даних користувача потрібно пройти розпізнавання</message>
    <message xml:lang="vi">Cần xác thực để thay đổi dữ liệu người dùng</message>
    <message xml:lang="zh_CN">修改用户数据：需要授权</message>
    <message xml:lang="zh_TW">若要變更使用者資料需要通過認證</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="com.deepin.daemon.accounts.set-login-option">
    <description>Change the login screen configuration</description>
    <description xml:lang="ca">Canvieu la configuració de la pantalla d'entrada</description>
    <description xml:lang="cs">Změnit nastavení přihlašovací obrazovky</description>
    <description xml:lang="de">Konfiguration des Anmeldebildschirms ändern</description>
    <description xml:lang="el">Αλλαγή των ρυθμίσεων οθόνης σύνδεσης</description>
    <description xml:lang="en_GB">Change the login screen configuration</description>
    <description xml:lang="eo">Ŝanĝi la agordojn de la ensalutekrano</description>
    <description xml:lang="es">Cambie la configuración de pantalla de acceso</description>
    <description xml:lang="fi">Muuta kirjautumisnäkymän asetuksia</description>
    <description xml:lang="fr">Modifier la configuration de l'écran de connexion</description>
    <description xml:lang="gl">Cambiar a configuración da pantalla de inicio</description>
    <description xml:lang="hu">Bejelentkező képernyő beállításainak módosítása</description>
    <description xml:lang="id">Ubah konfigurasi layar log masuk</description>
    <description xml:lang="it">Cambia la configurazione della schermata di accesso</description>
    <description xml:lang="ja">ログイン画面の設定を変更する</description>
    <description xml:lang="ka">შესასვლელი ეკრანის კონფიგურაციის შეცვლა</description>
    <description xml:lang="ko">로그인 화면 환경설정 변</description>
    <description xml:lang="lv">Mainīt pieteikšanās ekrāna konfigurāciju</description>
    <description xml:lang="nl">Bewerk configuratie loginscherm</description>
    <description xml:lang="pa">ਲਾਗਇਨ ਸਕਰੀਨ ਸੰਰਚਨਾ ਬਦਲੋ</description>
    <description xml:lang="pl">Zmiana konfiguracji ekranu logowania</description>
    <description xml:lang="pt_BR">Alterar configurações da tela de login</description>
    <description xml:lang="ru">Изменить настройки экрана входа в систему</description>
    <description xml:lang="sk">Zmeniť nastavenia prihlasovacej obrazovky</description>
    <description xml:lang="sl">Spremenite nastavitev prijavnega zaslona</description>
    <description xml:lang="sv">Ändra konfigurationen för inloggningsskärmen</description>
    <description xml:lang="tr">Oturum açma ekranı yapılandırmasını değiştirin</description>
    <description xml:lang="uk">Зміна налаштувань вікна вітання</description>
    <description xml:lang="vi">Thay đổi cấu hình màn hình đăng nhập</description>
    <description xml:lang="zh_CN">修改登录窗口配置</description>
    <description xml:lang="zh_TW">變更登入畫面組態</description>
    <message>Authentication is required to change the login screen configuration</message>
    <message xml:lang="ca">Cal autenticació per canviar la configuració de la pantalla d'entrada</message>
    <message xml:lang="cs">Pro změnu nastavení přihlašovací obrazovky je vyžadována autentizace</message>
    <message xml:lang="de">Zur Änderung der Konfiguration des Anmeldebildschirms ist eine Legitimierung erforderlich</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για αλλαγή των ρυθμίσεων της οθόνης αναγνώρισης χρήστη</message>
    <message xml:lang="en_GB">Authentication is required to change the login screen configuration</message>
    <message xml:lang="eo">Aŭtentigo bezonatas por ŝanĝi la agordojn de la ensalutekrano</message>
    <message xml:lang="es">Para cambiar la configuración de la pantalla de acceso debe autenticarse</message>
    <message xml:lang="fi">Kirjautumisnäkymän asetusten muuttaminen vaatii tunnistautumisen</message>
    <message xml:lang="fr">Il est nécessaire de s'authentifier pour modifier la configuration de l'écran de connexion</message>
    <message xml:lang="gl">Requirse autenticación para cambiar a configuración da pantalla de inicio</message>
    <message xml:lang="hu">Hitelesítés szükséges a bejelentkező képernyő beállításainak módosításához</message>
    <message xml:lang="id">Otentikasi diperlukan untuk mengubah konfigurasi layar log masuk</message>
    <message xml:lang="it">È necessario autenticarsi per cambiare la configurazione della schermata di accesso</message>
    <message xml:lang="ja">ログイン画面の設定を変更するには認証が必要です</message>
    <message xml:lang="ka">შესასვლელი ეკრანის კონფიგურაციის შესაცვლელად აუცილებელია ავთენტიფიკაციის გავლა.</message>
    <message xml:lang="ko">로그인 화면 환경설정을 변경하려면 인증이 </message>
    <message xml:lang="lv">Nepieciešama autentifikācija, lai mainītu pieteikšanās ekrāna konfigurāciju</message>
    <message xml:lang="nl">Authenticatie vereist om configuratie van loginscherm te kunnen veranderen</message>
    <message xml:lang="pa">ਲਾਗਇਨ ਸਕਰੀਨ ਸੰਰਚਨਾ ਬਦਲਣ ਲਈ ਪਰਮਾਣਿਤ ਹੋਣ ਦੀ ਲੋੜ ਹੈ</message>
    <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby zmienić konfigurację ekranu logowania</message>
    <message xml:lang="pt_BR">Autenticação é necessária para alterar configurações da tela de login</message>
    <message xml:lang="ru">Для изменения настроек экрана входа в систему требуется аутентификация</message>
    <message xml:lang="sk">Na zmenu nastavení prihlasovacej obrazovky je potrebné overenie totožnosti</message>
    <message xml:lang="sl">Za spremembo prijavnega zaslona je zahtevana overitev</message>
    <message xml:lang="sv">Autentisering krävs för att ändra konfigurationen för inloggningsskärmen</message>
    <message xml:lang="tr">Oturum açma ekranı yapılandırmasını değiştirmek için kimlik kanıtlaması gereklidir</message>
    <message xml:lang="uk">Для зміни налаштувань вікна вітання потрібно пройти розпізнавання</message>
    <message xml:lang="vi">Cần xác thực để thay đổi cấu hình màn hình đăng nhập</message>
    <message xml:lang="zh_CN">修改登录窗口配置：需要授权</message>
    <message xml:lang="zh_TW">若要變更登入畫面組態需要通過認證</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

</policyconfig>
