<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
	<vendor>LinuxDeepin</vendor>
	<vendor_url>https://www.deepin.com/</vendor_url>
	<action id="com.deepin.daemon.uadp.call">
		<description>Restrict user calls</description>
		<message>Authentication is required to storage or get key</message>
		<defaults>
			<allow_any>no</allow_any>
			<allow_inactive>no</allow_inactive>
			<allow_active>yes</allow_active>
		</defaults>
	</action>
</policyconfig>
