[Unit]
Description=Deepin Account Manager
DefaultDependencies=no
After=network.target

[Service]
Type=dbus
BusName=com.deepin.daemon.Accounts
ExecStart=/usr/lib/deepin-daemon/dde-system-daemon

[Install]
WantedBy=graphical.target
